
      
<div id="price-tables" class="page-layout simple fullwidth" fusePerfectScrollbar>

<div class="mat-primary-bg">
        <fuse-navigation  [navigation]="navigation" [layout]="'horizontal'"></fuse-navigation>

    </div>

    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">

        

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

                <img class="logo" src="assets/images/logos/logo-ods.png">
            

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">
   
        <!-- PRICE TABLES -->
           
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
   <!--
            <div routerLink="/lander/map" class="price-table style-1 mat-elevation-z12" fxLayout="column">

               

                <div class="price mat-accent-bg" fxLayout="row" fxLayoutAlign="center start">
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <h1 class="h1">Oogstkaart</h1>
                    </div>
                </div>
            </div>
                 
            <div class="price-table style-1 mat-elevation-z12" fxLayout="column">
                    <span class="p-4 mat-indigo-bg mat-hue-1">Binnenkort beschikbaar</span>

                    <div class="price mat-accent-bg" fxLayout="row" fxLayoutAlign="center start">
  
                        <div fxLayout="row" fxLayoutAlign="center end">
                                <h1 class="h1">Deurenconfigurator </h1>
                            </div>
                        </div>
            </div>

            <div class="price-table style-1 mat-elevation-z12" fxLayout="column">

                    <span class="p-4  mat-indigo-bg mat-hue-1">Binnenkort beschikbaar</span>

                    <div class="price mat-accent-bg" fxLayout="row" fxLayoutAlign="center start">
                            <div fxLayout="row" fxLayoutAlign="center end">
                                <h1 class="h1">Onze projecten</h1>
                            </div>
                        </div>

            </div>
        -->
        </div>
        <!-- / PRICE TABLES -->

        <div class="faq" fxLayout="row wrap">

            <div class="title" fxFlex="100">TITEL KOMT HIER</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">How does free trial work?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I cancel any time?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">What happens after my trial ended?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I have a discount?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>

        </div>

    </div>

</div>

