<div id="register" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" *fuseIfOnDom [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/logo-ods.png">
        </div>

       

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar *fuseIfOnDom
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

             <mat-progress-bar *ngIf="loading" color="warn" mode="indeterminate"></mat-progress-bar>


            <div class="logo" fxHide.gt-xs>
                <span>F</span>
            </div>

            <div class="title">Maak een account</div>
            <div  *ngIf="err" class="mat-red-bg"> {{err}} </div>

            <form name="registerForm" [formGroup]="registerForm" novalidate>

                <mat-form-field>
                    <input matInput placeholder="Naam" formControlName="Name">
                    <mat-error *ngIf="registerFormErrors.name.required">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="registerFormErrors.email.required">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!registerFormErrors.email.required && registerFormErrors.email.email">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Wachtwoord" formControlName="password">
                    <mat-error *ngIf="registerFormErrors.password.required">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="registerFormErrors.password.pattern">
                            Wachtwoord moet minstens een hoofdletter en getal bevatten.
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="password" placeholder="Wachtwoord (Bevestigen)" formControlName="passwordConfirm">
                    <mat-error *ngIf="registerFormErrors.passwordConfirm.required">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="registerFormErrors.passwordConfirm.passwordsNotMatch">
                        Passwords must match
                    </mat-error>
         
                </mat-form-field>

                <div *ngIf="passwordnotsame" class="mat-red-bg"> {{passwordnotsame}} </div>


                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox formControlName="terms"  name="terms" aria-label="Accept" required>
                        <span>Accepteer onze</span>
                    </mat-checkbox>
                    <a href="#"> algemene voorwaarden</a>
                </div>

                <button (click)="register()" mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="registerForm.invalid || loading">
                    Maak een account aan
                </button>

            </form>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" routerLink='/auth'>Login</a>
                <a class="link" routerLink=''>Home</a>

            </div>
        </div>
    </div>
</div>