<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-16">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Oogstkaart</span>
            </div>
            <div class="h2 mt-16">Oogstkaartartikelen</div>
        </div>

        <a mat-raised-button class="reference-button mat-white-bg mt-16 mt-sm-0" [routerLink]="'../newproduct'">
            <mat-icon>add</mat-icon>
            <span>Nieuw product toevoegen</span>
        </a>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

            <mat-progress-bar *ngIf="!rows" color="warn" mode="indeterminate"></mat-progress-bar>

        <ngx-datatable (activate)='onUserEvent($event)' class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
            [headerHeight]="48" [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [limit]="10">

            <ngx-datatable-column [width]="48" [canAutoResize]="true" [sortable]="true">
                <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                    <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
                </ng-template>

                <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                    <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="ID" prop="oogstkaartItemID"></ngx-datatable-column>

            <ngx-datatable-column name="Artikel" prop="artikelnaam"></ngx-datatable-column>

            <ngx-datatable-column name="Categorie" prop="category"></ngx-datatable-column>
            <ngx-datatable-column name="Hoeveelheid" prop="hoeveelheid"></ngx-datatable-column>
            <ngx-datatable-column name="Aangemaakt op" prop="createDate"></ngx-datatable-column>
            <ngx-datatable-column name="Online" prop="onlineStatus">

                <ng-template let-value="value" ngx-datatable-cell-template>


                    <mat-icon *ngIf="value; else other" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                    <ng-template #other>

                        <mat-icon class="active-icon mat-red-500-bg s-16">close</mat-icon>

                    </ng-template>

                </ng-template>



            </ngx-datatable-column>
        </ngx-datatable>

    </div>

</div>