<div class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>Nieuw artikel toevoegen</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg">

    <div class="container">

      <div class="mb-5">
        <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="stepper.selectedIndex * 20">
        </mat-progress-bar>
      </div>

      <div class="row align-items-center ">

        <div class="col">
        </div>
        <div class="col">
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Uw artikel</ng-template>

                <mat-form-field class="row">
                  <input matInput placeholder="Artikel" formControlName="artikelnaam" required>
                </mat-form-field>
                <br/>
                <mat-form-field class="row">
                  <textarea matInput name="description" formControlName="omschrijving" placeholder="Omschrijving" rows="5">
          </textarea>
                </mat-form-field>

                <mat-form-field class="row">
                  <mat-select formControlName="categorie" placeholder="Selecteer een categorie">
                    <mat-option value="jansenprofiel">Jansenprofiel</mat-option>
                    <mat-option value="constructieprofiel">Constructieprofiel</mat-option>
                    <mat-option value="deur">Deur</mat-option>
                    <mat-option value="raam">Raam</mat-option>
                    <mat-option value="geveldeel">Geveldeel</mat-option>
                    <mat-option value="overige">Overige</mat-option>

                  </mat-select>

                </mat-form-field>

                <mat-form-field class="row">
                  <mat-select formControlName="jansenserie" placeholder="Jansenserie">
                    <mat-option value="ART15">ART-15</mat-option>
                    <mat-option value="janisolARTE">Janisol ARTE</mat-option>
                    <mat-option value="economy">Economy</mat-option>
                    <mat-option value="janisol">Janisol</mat-option>
                    <mat-option value="janisolHI">Janisol HI</mat-option>
                    <mat-option value="Janisol2">Janisol 2</mat-option>
                    <mat-option value="JanisolC4">Janisol C4</mat-option>
                    <mat-option value="JansenViss">Jansen Viss</mat-option>

                  </mat-select>

                </mat-form-field>
                <br/>




                <mat-form-field class="row">
                  <input matInput placeholder="Hoeveelheid" formControlName="hoeveelheid" required>
                </mat-form-field>


                <mat-form-field>
                  <input matInput placeholder="Vraagprijs per eenheid" formControlName="vraagPrijsPerEenheid" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Totale vraagprijs" formControlName="vraagPrijsTotaal" required>
                </mat-form-field>
                
                <br/>

                <mat-form-field class="row">
                    <mat-select formControlName="transportInbegrepen" placeholder="Neen" required>
                      <mat-option value="false">Neen</mat-option>
                      <mat-option value="true">Ja</mat-option>
                    </mat-select>
                    </mat-form-field>
                <mat-form-field class="row">
                  <mat-select formControlName="concept" placeholder="Concept" required>
                    <mat-option value="Te huur">Te huur</mat-option>
                    <mat-option value="Te Koop">Te koop</mat-option>
                    <mat-option value="Te Koop of Te huur">Te koop of te huur</mat-option>


                  </mat-select>

                </mat-form-field>

                <mat-form-field>
                    <input matInput formControlName="datumBeschikbaar" [matDatepicker]="picker" placeholder="Beschikbaar vanaf">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                <div>
                  <button mat-raised-button color="warn" matStepperPrevious>Terug</button>
                  <button mat-raised-button color="primary" [disabled]="!secondFormGroup.valid" (click)="nextstep()">Volgende</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel >Specificaties</ng-template>

              <div  class="m-12">
                <span>
                  <button mat-mini-fab color="accent">
                      <mat-icon (click)="addSpecificatie()" class="m-4" class="mat-24" >add</mat-icon>
                    </button>
                    Voeg nieuwe specificatie toe
                    </span>

              </div>

              <div *ngFor="let item of specificaties; let i = index " class="row">
                <span class="m-12">
                  
                  <button mat-mini-fab color="warn">
                    <mat-icon (click)="removeItem(i)" class="mat-24">remove</mat-icon>
                  </button>

                </span>
                <mat-form-field>
                  <input matInput [(ngModel)]="specificaties[i].specificatieSleutel" placeholder="Specificatie" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [(ngModel)]="specificaties[i].specificatieValue"  placeholder="Waarde" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput [(ngModel)]="specificaties[i].specificatieOmschrijving" placeholder="Omschrijving">
                </mat-form-field>
              </div>

              <div>
                  <button mat-raised-button color="warn" matStepperPrevious>Terug</button>
                  <button mat-raised-button color="primary" [disabled]="!secondFormGroup.valid" (click)="postartikel()">Volgende</button>
                </div>

            </mat-step>

            <mat-step>
              <div class="row">
                <ng-template matStepLabel>Locatie</ng-template>
              </div>
              <button mat-raised-button color="primary" (click)='postLocation()' [disabled]="selectedlocation.lat == null" class="mb-2"
                mat-raised-button>Volgende</button>

              <h5>Selecteer de locatie van uw artikel</h5>



              <p fxLayout="row" fxLayoutAlign="start start">
                <agm-map (mapClick)="getlocation($event)" [latitude]="51.2627187555929" [zoom]="zoom" [longitude]="4.5024117984374925">
                  <agm-marker [latitude]="selectedlocation?.lat" [longitude]="selectedlocation?.lng"></agm-marker>
                </agm-map>
              </p>

            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <ng-template matStepLabel>Upload foto's</ng-template>
              <h1>Upload een productfoto als voorbeeld</h1>
              <button mat-raised-button color="primary" (click)='complete()' [disabled]="!buttonuploadzone" class="mb-2" mat-raised-button>Volgende</button>
              <input #file type="file" multiple (change)="upload(file.files)" />
              <button mat-raised-button color="primary" *ngIf="uploaderror" (click)='upload()' class="mb-2" mat-raised-button>Probeer opnieuw</button>

              <br/>
              <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                {{progress}}%
              </span>

              <span style="font-weight:bold;color:green;" *ngIf="message">
                {{message}}
              </span>

              <h1>Upload fotogallerij</h1>

              <div class="my-2">
                  <file-drop headertext="Sleep uw foto's hier" (onFileDrop)="dropped($event)" 
                  >
                    
                  </file-drop>
                  <button mat-raised-button color="primary" (click)='uploadfotos()' [disabled]="files.length == 0" class="my-2" mat-raised-button>Upload foto's</button>

                  <div class="upload-table">
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>Foto's</th>
                              </tr>
                          </thead>
                          <tbody class="upload-name-style">
                              <tr *ngFor="let item of files; let i=index">
                                  <td><strong>{{ item.relativePath }}</strong></td>
                              </tr>
                          </tbody>
                      </table>
                  </div>

              </div>


              <div>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Geregistreerd</ng-template>

              <div class="mt-5">
                <div *ngIf="postsucces; else error">
                  <div class="alert alert-success" role="alert">
                    <strong>Uw product werd succesvol in onze database gezet.</strong>
                    <button mat-raised-button color="primary" [routerLink]="['/lander/detail/', oogstkaartID]">Bekijk uw product</button>

                  </div>
                </div>

                <ng-template #error>

                  <div class="alert alert-danger" role="alert">
                    <p>Foutcode:
                      <strong> {{err?.status}} </strong>
                    </p>
                    <strong>Uw product werd niet succesvol in onze database gezet.</strong> Probeer het opnieuw.
                  </div>

                </ng-template>

                <div>
                  <button mat-raised-button color="primary" (click)="reset()">Nieuw artikel</button>
                  <button mat-raised-button color="primary" [routerLink]="'/dashboard/oogstkaart'">Uw oogstkaartartikelen</button>

                </div>

              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </div>
        <div class="col">
        </div>
      </div>

    </div>
  </div>
  <!-- / CONTENT -->

</div>