<div class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>Nieuw artikel toevoegen</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg">

    <div class="container">

      <div class="mb-5">
        <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="stepper.selectedIndex * 33.33">
        </mat-progress-bar>
      </div>

      <div class="row align-items-center ">

        <div class="col">
        </div>
        <div class="col">
          <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Uw artikel</ng-template>

                <mat-form-field class="row">
                  <input matInput placeholder="Artikel" formControlName="artikelnaam" required>
                </mat-form-field>
                <br/>
                <mat-form-field class="row">
                  <textarea matInput name="description" formControlName="omschrijving" placeholder="Omschrijving" rows="5">
          </textarea>
                </mat-form-field>

                <mat-form-field class="row">
                  <mat-select formControlName="categorie" placeholder="Selecteer een categorie">
                    <mat-option value="jansenprofiel">Jansenprofiel</mat-option>
                    <mat-option value="constructieprofiel">Constructieprofiel</mat-option>
                    <mat-option value="deur">Deur</mat-option>
                    <mat-option value="raam">Raam</mat-option>
                    <mat-option value="geveldeel">Geveldeel</mat-option>
                    <mat-option value="overige">Overige</mat-option>

                  </mat-select>

                </mat-form-field>

                <mat-form-field class="row">
                  <mat-select formControlName="jansenserie" placeholder="Jansenserie">
                    <mat-option value="art15">ART-15</mat-option>
                    <mat-option value="janisolarte">Janisol ARTE</mat-option>
                    <mat-option value="economy">Economy</mat-option>
                    <mat-option value="janisol">Janisol</mat-option>
                    <mat-option value="janisolhi">Janisol HI</mat-option>
                    <mat-option value="janisol2">Janisol 2</mat-option>
                    <mat-option value="janisolc4">Janisol C4</mat-option>
                    <mat-option value="jansenviss">Jansen Viss</mat-option>

                  </mat-select>

                </mat-form-field>
                <br/>


                <mat-form-field>
                  <input matInput placeholder="Coating" formControlName="coating">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Glassamenstelling" formControlName="glassamenstelling">
                </mat-form-field>
                <br/>

                <mat-form-field class="row">
                  <input matInput placeholder="Hoeveelheid" formControlName="hoeveelheid">
                </mat-form-field>
                <mat-form-field class="row">
                  <input matInput placeholder="Afmetingen" formControlName="afmetingen">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Gewicht" formControlName="weight">
                </mat-form-field>

                <mat-form-field>
                  <mat-select formControlName="metric" placeholder="Eenheid">
                    <mat-option value="kg">kg</mat-option>
                    <mat-option value="ton">ton</mat-option>
                    <mat-option value="ton">Vierkante meter</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <input matInput placeholder="Vraagprijs per eenheid" formControlName="vraagPrijsPerEenheid">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Totale vraagprijs" formControlName="vraagPrijsTotaal">
                </mat-form-field>
                <br/>

                <mat-form-field class="row">
                  <mat-select formControlName="transportInbegrepen" placeholder="Transport inbegrepen">
                    <mat-option value="true">Ja</mat-option>
                    <mat-option value="false">Neen</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="row">
                  <input matInput placeholder="Status" formControlName="status">
                </mat-form-field>

                <mat-form-field class="row">
                  <mat-select formControlName="concept" placeholder="Concept">
                    <mat-option value="tehuur">Te huur</mat-option>
                    <mat-option value="tekoop">Te koop</mat-option>
                    <mat-option value="tekoopentehuur">Te koop of te huur</mat-option>


                  </mat-select>

                </mat-form-field>
                <div>
                  <button mat-raised-button color="warn" matStepperPrevious>Terug</button>
                  <button mat-raised-button color="primary" [disabled]="!secondFormGroup.valid" (click)="postartikel()">Volgende</button>
                </div>
              </form>
            </mat-step>

            <mat-step>
              <div class="row">
                <ng-template matStepLabel>Locatie</ng-template>
              </div>
              <button mat-raised-button color="primary" (click)='postLocation()' [disabled]="selectedlocation.lat == null" class="mb-2"
                mat-raised-button>Volgende</button>

              <h5>Selecteer de locatie van uw artikel</h5>



              <p fxLayout="row" fxLayoutAlign="start start">
                <agm-map (mapClick)="getlocation($event)" [latitude]="51.2627187555929" [zoom]="zoom" [longitude]="4.5024117984374925">
                  <agm-marker [latitude]="selectedlocation?.lat" [longitude]="selectedlocation?.lng"></agm-marker>
                </agm-map>
              </p>

            </mat-step>
            <mat-step [stepControl]="thirdFormGroup">
              <ng-template matStepLabel>Upload foto's</ng-template>
              <h1>Upload een productfoto als voorbeeld</h1>
              <button mat-raised-button color="primary" (click)='complete()' [disabled]="!buttonuploadzone" class="mb-2" mat-raised-button>Volgende</button>
              <input #file type="file" multiple (change)="upload(file.files)" />
              <br/>
              <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                {{progress}}%
              </span>

              <span style="font-weight:bold;color:green;" *ngIf="message">
                {{message}}
              </span>

              <div class="row">
                <img *ngIf="avatarpreviewurl" class="heightimg" [src]="avatarpreviewurl">

              </div>


              <div>


              
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Geregistreerd</ng-template>

              <div class="mt-5">
                <div *ngIf="postsucces; else error">
                  <div class="alert alert-success" role="alert">
                    <strong>Uw product werd succesvol in onze database gezet.</strong>
                  </div>
                </div>

                <ng-template #error>

                  <div class="alert alert-danger" role="alert">
                    <p>Foutcode:
                      <strong> {{err?.status}} </strong>
                    </p>
                    <strong>Uw product werd niet succesvol in onze database gezet.</strong> Probeer het opnieuw.
                  </div>

                </ng-template>

                <div>
                  <button mat-raised-button color="primary" (click)="stepper.reset()">Nieuw artikel</button>
                  <button mat-raised-button color="primary" routerLink="catharina/oogstkaart">Uw oogstkaartartikelen</button>

                </div>

              </div>
            </mat-step>
          </mat-horizontal-stepper>

        </div>
        <div class="col">
        </div>
      </div>

    </div>
  </div>
  <!-- / CONTENT -->

</div>