
<div class="page-layout carded left-sidenav" fusePerfectScrollbar>

  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg">

  </div>
  <!-- / TOP BACKGROUND -->

  <mat-sidenav-container>

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav" align="start" opened="true" mode="side" fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

      <!-- SIDENAV HEADER -->
      <div class="header p-24" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">


      </div>
      <!-- / SIDENAV HEADER -->

      <!-- SIDENAV CONTENT -->
      <div class="content p-24 primary" fusePerfectScrollbar>
        <button class="mat-accent-bg m-4" routerLink='' mat-menu-item>
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>

        
        <mat-slide-toggle color="accent"  [(ngModel)]="artikelview">
            Artikelview
          </mat-slide-toggle>
        <h1>Filter
          <h5> {{filtered?.length }} producten</h5>
        </h1>

      

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Categorie
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-checkbox [(ngModel)]="filters.categorie.jansenprofiel" id="jansenprofiel" name="category" (ngModelChange)="filtertoggle($event)">Jansenprofiel</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.categorie.constructieprofiel" id="constructieprofiel" name="category" (ngModelChange)="filtertoggle($event)">Constructieprofiel</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.categorie.deur" id="deur" name="category" (ngModelChange)="filtertoggle($event)">Deur</mat-checkbox>
            <br/>
            <mat-checkbox [(ngModel)]="filters.categorie.raam" id="raam" name="category" (ngModelChange)="filtertoggle($event)">Raam</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.categorie.geveldeel" id="geveldeel" name="category" (ngModelChange)="filtertoggle($event)">Geveldeel</mat-checkbox>
            <mat-checkbox [(ngModel)]="filters.categorie.overige" id="overige" name="category" (ngModelChange)="filtertoggle($event)">Overige</mat-checkbox>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Jansenserie
              </mat-panel-title>

            </mat-expansion-panel-header>

            <mat-checkbox id="ART-15" name="serie" [(ngModel)]="filters.serie.ART15" (ngModelChange)="filtertoggle($event)">ART-15</mat-checkbox>
            <mat-checkbox id="Janisol ARTE" name="serie"[(ngModel)]="filters.serie.janisolARTE" (ngModelChange)="filtertoggle($event)">Janisol ARTE</mat-checkbox>
            <mat-checkbox id="Economy" name="serie" [(ngModel)]="filters.serie.economy" (ngModelChange)="filtertoggle($event)">Economy</mat-checkbox>
            <mat-checkbox id="Janisol" name="serie" [(ngModel)]="filters.serie.janisol" (ngModelChange)="filtertoggle($event)">Janisol</mat-checkbox>
            <mat-checkbox id="Janisol HI" name="serie" [(ngModel)]="filters.serie.janisolHI" (ngModelChange)="filtertoggle($event)">Janisol HI</mat-checkbox>
            <mat-checkbox id="Janisol 2" name="serie" [(ngModel)]="filters.serie.janisol2" (ngModelChange)="filtertoggle($event)">Janisol 2</mat-checkbox>
            <mat-checkbox id="Janisol C4" name="serie"  [(ngModel)]="filters.serie.janisolC4"(ngModelChange)="filtertoggle($event)">Janisol C4</mat-checkbox>
            <mat-checkbox id="Janisol Viss" name="serie" [(ngModel)]="filters.serie.jansenViss" (ngModelChange)="filtertoggle($event)">Janisol Viss</mat-checkbox>




          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Concept
              </mat-panel-title>

            </mat-expansion-panel-header>


          </mat-expansion-panel>
        </mat-accordion>

      </div>
      <!-- / SIDENAV CONTENT -->

    </mat-sidenav>
    <!-- / SIDENAV -->

    <!-- CENTER -->
    <div class="center">

      <!-- CONTENT HEADER -->
      <div class="header white-fg p-24">

      </div>
      <!-- / CONTENT HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card mat-white-bg">

        <!-- CONTENT TOOLBAR -->
        <div class="toolbar px-24 py-8">
          <button mat-button class="mat-icon-button sidenav-toggle" fuseMatSidenavToggler="carded-left-sidenav" fxHide.gt-md>
            <mat-icon>menu</mat-icon>
          </button>

          <h1>ODS Oogstkaart</h1>
        </div>
        <!-- / CONTENT TOOLBAR -->

        <!-- CONTENT -->
        <mat-progress-bar *ngIf="!itemsloading" color="accent" mode="indeterminate"></mat-progress-bar>

        <div class="content p-24" fusePerfectScrollbar>

          <agm-map *ngIf="!artikelview" [latitude]="51.2627187555929" [zoom]="zoom" [longitude]="4.5024117984374925">

            <agm-marker (markerClick)="opendialog(item)" *ngFor="let item of filtered;" [iconUrl]="'assets/icons/markers/' + item.category + '.png'"
              [latitude]="item.location.latitude" [longitude]="item.location.longtitude">
            </agm-marker>
          </agm-map>


          <div *ngIf="artikelview">
            <div class="ui-g">
              <div *ngFor="let item of filtered" (click)="openDetailview(item.oogstkaartItemID)" class="ui-g-12 ui-md-6 ui-lg-3">
                <p-card>
                  <div class="row">
                      <p-header class="ui-card-title">
                          {{item.artikelnaam}}
                        </p-header>
                  </div>
                 
                  <mat-progress-spinner *ngIf="loading" color="accent" mode="indeterminate">
                  </mat-progress-spinner>
                  <img [hidden]="loading" (load)="onLoad()" [src]="rootplace + '/uploads/image/' + item.avatar?.uri" />
                        <p-footer>
                      <button (click)="openDetailview(item.oogstkaartItemID)" mat-icon-button (click)="openDetailview(item.oogstkaartItemID)" color="accent">
                          <mat-icon aria-label="Example icon-button with a heart icon">keyboard_arrow_right

                            </mat-icon>
                      </button>
                  </p-footer>
                </p-card>
              </div>

              
            </div>


          </div>

        </div>
        <!-- / CONTENT -->

      </div>
      <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

  </mat-sidenav-container>

</div>