<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg">

    </div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/lander/map'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <h1>{{item?.artikelnaam}}</h1>

                    <div class="subtitle secondary-text">
                        <span>Product uitgelicht</span>
                    </div>
                </div>
            </div>

            <button mat-raised-button class="save-product-button mat-white-bg mt-16 mt-sm-0">
                <span>
                    <h3> {{item.Views}} keer bekeken </h3>
                </span>
            </button>
        </div>
        <!-- / APP TITLE -->




        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <div name="productForm" class="product w-100-p" fxLayout="column">

                        <mat-progress-spinner *ngIf="loading" color="accent" mode="indeterminate">
                            </mat-progress-spinner>
                            <img [hidden]="loading" (load)="onLoad()" [src]="rootplace + '/uploads/image/' + item.avatar?.uri" />
                

                </div>

                <div name="productForm" class="product w-100-p" fxLayout="column">

                    <mat-tab-group (selectedTabChange)="checkmap($event)">

                        <mat-tab label="Algemeen">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-list>
                                    <mat-list-item>
                                        <h3 mat-line>Artikel</h3>
                                        <p mat-line> {{item.artikelnaam}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>
                                        <h3 mat-line>Categorie</h3>
                                        <p mat-line> {{item.category}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>
                                        <h3 mat-line>Jansenserie</h3>
                                        <p mat-line> {{item.jansenserie}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>
                                        <h3 mat-line>Hoeveelheid</h3>
                                        <p mat-line> {{item.hoeveelheid}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>
                                        <h3 mat-line>Concept</h3>
                                        <p mat-line> {{item.concept}} </p>
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>
                                        <h3 mat-line>Gemaakt</h3>
                                        <p mat-line> {{item.createDate | date}} </p>
                                    </mat-list-item>
                                </mat-list>

                                <mat-list *ngIf="item.specificaties.length > 0">
                                        <h3 mat-subheader>Specificaties</h3>
                                        <mat-list-item *ngFor="let specificatie of item.specificaties">
                                          <mat-icon mat-list-icon>folder</mat-icon>
                                          <h4 mat-line>{{specificatie.specificatieSleutel}}</h4>
                                          <p mat-line> {{specificatie.specificatieValue}} </p>
                                          <p mat-line> {{specificatie.specificatieOmschrijving}} </p>
                                        </mat-list-item>
                                        <mat-divider></mat-divider>
                                </mat-list>

                            </div>
                        </mat-tab>

                        <mat-tab label="Foto's">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">


                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Contact">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                            </div>
                        </mat-tab>

                        <mat-tab label="Kaart">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <agm-map *ngIf="!hidemap" [latitude]="item.location.latitude" [zoom]="7" [longitude]="item.location.longtitude" #map>

                                    <agm-marker [latitude]="item.location.latitude" [longitude]="item.location.longtitude"></agm-marker>
                                </agm-map>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <!-- / CONTENT -->

            </div>
        </div>
    </div>
</div>